# PRiAD - Projekt zespołowy "Klasyfikacja wniosków kredytowych"

---

In [1]:
# Import potrzebnych bibliotek

import numpy as np
import pandas as pd
import math
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as pat
from skimage import io
import skimage as si
import skimage.filters as sif
import skimage.segmentation as sis
import skimage.measure as sime
import skimage.morphology as simo
import skimage.color as sic

from sklearn.preprocessing import StandardScaler
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from matplotlib import colors

# Zmiana sposobu wyświetlania danych zmiennoprzecinkowych
pd.options.display.float_format = "{:.2f}".format

In [2]:
# Konwersja .data --> .csv do typu Data Frame

data = pd.read_csv("crx.data")
data = data.dropna()

data

     b  30.83     0  u  g   w   v  1.25  t t.1  01  f g.1  00202  0.1  +
0    a  58.67  4.46  u  g   q   h  3.04  t   t   6  f   g  00043  560  +
1    a  24.50  0.50  u  g   q   h  1.50  t   f   0  f   g  00280  824  +
2    b  27.83  1.54  u  g   w   v  3.75  t   t   5  t   g  00100    3  +
3    b  20.17  5.62  u  g   w   v  1.71  t   f   0  f   s  00120    0  +
4    b  32.08  4.00  u  g   m   v  2.50  t   f   0  t   g  00360    0  +
..  ..    ...   ... .. ..  ..  ..   ... ..  ..  .. ..  ..    ...  ... ..
684  b  21.08 10.09  y  p   e   h  1.25  f   f   0  f   g  00260    0  -
685  a  22.67  0.75  u  g   c   v  2.00  f   t   2  t   g  00200  394  -
686  a  25.25 13.50  y  p  ff  ff  2.00  f   t   1  t   g  00200    1  -
687  b  17.92  0.20  u  g  aa   v  0.04  f   f   0  f   g  00280  750  -
688  b  35.00  3.38  u  g   c   h  8.29  f   f   0  t   g  00000    0  -

[689 rows x 16 columns]

In [ ]:
# Zakodowanie danych

In [ ]:
# Standaryzacja danych

In [ ]:
# Budowa klasyfikatora

In [ ]:
# Histogramy wszystkich kolumn